{% extends 'CasinoBlackjackBundle::layout.html.twig' %}

{% block body %}
    {{ form(form) }}
    <div id="players_list">
        <ol>
            {% for player in ranking %}
                <li>{{ player.name }} - {{ player.score }}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}